
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 5vh;
    height: 7vh;
}

.img {
    cursor: pointer;
}

.article{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

td {
    height: 70px;
}

.isModal{
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.5s;
    pointer-events: none;
}

.isModal.active {
    opacity: 1;
    pointer-events: all;
}

.abv-col {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13px 0 0 0;
}

.abv-col span{
    padding: 16px;
}

.show-buttons {
    display: none;
}

.hide-buttons {
    display: inline;
}

.modal__content {
    padding: 20px;
    border-radius: 12px;
    background: white;
    height: 80vh;
    width: 90vh;
    transform: scale(0.5);
    transition: 0.4s all;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.picture{
    height: 25vh;
    width: 13vh;
}
.picture-column {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tr-more-info {
    cursor: pointer;
}

.modal__content.active {
    transform: scale(1);
}

.picture-table {
    transition: width 1s, height 1s, transform 1s;

}

.picture-table:hover {
    transform: rotate(360deg);
}
